<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Apps</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <h1 class="text-3xl tracking-tighter mb-3">Select Apps to Add</h1>
        <form action="/add-selected-apps/<%= userid %>/<%= spaceid %>" method="POST">
            <div>
                <% apps.forEach(app => { %>
                    <div class="mb-3">
                        <label class="flex items-center">
                            <input type="checkbox" name="selectedApps" value="<%= app._id %>" class="mr-2">
                            <span><%= app.name %></span>
                        </label>
                    </div>
                <% }) %>
            </div>
            <input type="submit" value="Add Selected Apps" class="px-5 py-2 bg-blue-500 rounded-lg">
        </form>
        <div class="mt-4">
            <a href="/read" class="px-5 py-2 bg-blue-500 rounded-lg">Back to Users</a>
        </div>
    </div>
</body>
</html>
